<div>
<div *ngIf="loggedUserRoles.includes('CUSTOMER')" class="filter-container" [formGroup]="filterForm">
  
  <!-- <mat-form-field id="input-filter" appearance="fill">
    <mat-label>User</mat-label>
    <input matInput formControlName="user" placeholder="Username of User">
  </mat-form-field> -->

  <!-- <label for="sortOptions">Sort Options:</label>
  <select id="sortOptions" formControlName="sort">
    <option value="admin_desc">Admin Desc</option>
    <option value="admin_asc">Admin Asc</option>
    <option value="user_desc">User Desc</option>
    <option value="user_asc">User Asc</option>
    <option value="status_desc">Status Desc</option>
    <option value="status_asc">Status Asc</option>
  </select> -->

  <mat-form-field id="input-filter">
    <mat-label>Sort Options</mat-label>
    <mat-select formControlName="sort">
      <mat-option *ngFor="let option of sortOptions" [value]="option.value">
        {{ option.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field id="input-filter" appearance="fill">
    <mat-label>Admin</mat-label>
    <input matInput formControlName="admin" placeholder="Username of Admin">
  </mat-form-field>

  <mat-form-field id="status-select">
    <mat-label>Status</mat-label>
    <mat-select formControlName="status">
      <mat-option *ngFor="let option of statusOptions" [value]="option">
        {{ option }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="date-picker">
    <mat-label>Submission Date Range</mat-label>
    <mat-date-range-input [rangePicker]="submissionDateRangePicker">
      <input matStartDate #submissionDateStart placeholder="Start date">
      <input matEndDate   #submissionDateEnd placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="submissionDateRangePicker"></mat-datepicker-toggle>
    <mat-date-range-picker #submissionDateRangePicker>
      <mat-date-range-picker-actions>
        <button mat-button matDateRangePickerCancel>Cancel</button>
        <button mat-raised-button color="primary" (click)="submissionDateRangeChange(submissionDateStart, submissionDateEnd)" matDateRangePickerApply>Apply</button>
      </mat-date-range-picker-actions>
    </mat-date-range-picker>
  </mat-form-field>

  <mat-form-field class="date-picker">
    <mat-label>Approval Date Range</mat-label>
    <mat-date-range-input [rangePicker]="approvalDateRangePicker">
      <input matStartDate #approvalDateStart placeholder="Start date">
      <input matEndDate   #approvalDateEnd placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="approvalDateRangePicker"></mat-datepicker-toggle>
    <mat-date-range-picker #approvalDateRangePicker>
      <mat-date-range-picker-actions>
        <button mat-button matDateRangePickerCancel>Cancel</button>
        <button mat-raised-button color="primary" (click)="approvalDateRangeChange(approvalDateStart, approvalDateEnd)" matDateRangePickerApply>Apply</button>
      </mat-date-range-picker-actions>
    </mat-date-range-picker>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="filterClicked()">Filter</button>
</div>

<div id="table">
    <table id="requestsTable" mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="submissionDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Submission Date</th>
        <td mat-cell *matCellDef="let element">{{element?.submissionDate | date: 'dd/MM/yyyy'}}
      </ng-container>

      <ng-container matColumnDef="approvalDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Approval Date</th>
        <td mat-cell *matCellDef="let element"> {{ element?.approvalDate ? (element.approvalDate | date: 'dd/MM/yyyy') : '/' }}
      </ng-container>
      
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
        <td mat-cell *matCellDef="let element"> {{element.user.username}} </td>
      </ng-container>

      <ng-container matColumnDef="adminn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Admin</th>
        <td mat-cell *matCellDef="let element">  {{ element?.admin ? (element.admin.username) : '/' }} </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
        <td mat-cell *matCellDef="let element"> {{element.realEstate.address}} </td>
      </ng-container>
      
      <ng-container matColumnDef="floorNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Floor Number</th>
        <td mat-cell *matCellDef="let element"> {{element.realEstate.floorNumber}} </td>
      </ng-container>
      
      <ng-container matColumnDef="documents">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Documents</th>
        <td mat-cell *matCellDef="let element"> 
            <button mat-button color="primary" *ngFor="let doc of element.documents" (click)="viewDocument(doc)">
                {{ doc }}
            </button>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{getStatusClass(element?.status.toString())}}
        </td>
      </ng-container>
  
      <ng-container  matColumnDef="accept">
        <th mat-header-cell *matHeaderCellDef>Accept Request</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button id="acceptRequestBtn"  (click)="acceptRequest(element)">Accept</button>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="decline">
        <th mat-header-cell *matHeaderCellDef>Decline Request</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button id="denyRequestBtn"  (click)="declineRequest(element)" >Deny</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator> -->
  </div>
</div>