.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 210px;
  padding: 8px;
}

mat-nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.container {
  padding: 16px;
  box-sizing: border-box;
}

#padder {
  height: 8px;
}

img {
  height: 100%;
}

#content-toolbar {
  position: relative;
  background-color: var(--mdc-surface-container-lowest);
}

.right {
  margin-left: auto;
}