<mat-toolbar>
    <div class="powergrid-logo">
      <span>Powergrid</span>
    </div>
    <div class="content">
      <button [routerLink]="['requests-overview']" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        Requests
      </button>

      <button [routerLink]="['create-real-estate']" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        Create Real Estate
      </button>

        <button [routerLink]="['/']" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          Log out
        </button>

    </div>
</mat-toolbar>