<div class="container" [ngClass]="{'is-small': isSmall, 'is-xsmall': isXSmall}">
    <mat-card appearance="outlined" [ngClass]="{'is-small': isSmall, 'is-xsmall': isXSmall}">
        <mat-card-header>
            <mat-card-title>
                <img src="images/logo2.jpg" />
            </mat-card-title>
            <mat-card-title>
                <h1>Change password</h1>
            </mat-card-title>
            <mat-card-subtitle>
                Your password has expired. You need to change it before acessing the portal.
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="passwordChangeForm">
                <mat-form-field appearance="outline">
                    <mat-label>Old password</mat-label>
                    <input matInput aria-label="Old password" type="password" name="oldPassword" formControlName="oldPassword" />
                    <mat-error *ngIf="passwordChangeForm.get('oldPassword')?.hasError('required')">Old password is required</mat-error>
                    <mat-error *ngIf="passwordChangeForm.get('oldPassword')?.hasError('wrongPassword')">Sorry, wrong password</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>New password</mat-label>
                    <input matInput aria-label="New password" type="password" name="newPassword" formControlName="newPassword" />
                    <mat-error *ngIf="passwordChangeForm.get('newPassword')?.hasError('required')">New password is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Confirm new password</mat-label>
                    <input matInput aria-label="Confirm new password" type="password" name="newPasswordConfirmation" formControlName="newPasswordConfirmation" [errorStateMatcher]="matcher"/>
                    <mat-error *ngIf="passwordChangeForm.get('newPasswordConfirmation')?.hasError('required')">You must confirm your new password</mat-error>
                    <mat-error *ngIf="passwordChangeForm.hasError('passwordMismatch')">Passwords do not match</mat-error>
                </mat-form-field>
                <mat-card-actions>
                    <button mat-flat-button [disabled]="!passwordChangeForm.valid" (click)="changePassword()">Change password</button>
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</div>